/* KONLA APP - 2022 */

/* Fonts: Poppins, Roboto */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Roboto&display=swap');

body {
    background-color: #ECEFF1;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

.konla-logo {
    color: #607D8B;
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 16px 64px;
}

.upload-section {
    background-color: #FFF;
    border-radius: 8px;
    padding: 24px 64px;
    width: 60%;
}

.upload-title {
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.upload-text {
    color: #616161;
    font-weight: bold;
}

.drag-drop-section {
    background-color: #EEEEEE;
    padding: 64px;
    border-radius: 8px;
    outline: 2px dashed #BDBDBD;
    outline-offset: -10px;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.upload-icon {
    color: #90A4AE;
    font-size: 100px;
}

.upload-link {
    cursor: pointer;
    color: #2196F3;
}

.analysis-selection-section {
    margin-top: 40px;
    background-color: #EEEEEE;
    padding: 16px 64px;
    border-radius: 8px;
}

.file-uploaded-text {
    color: #66BB6A;
    font-size: 20px;
}

.filename {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.analysis-btn {
    margin-top: 20px;
    font-weight: bold;
}
