<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous">
        <!-- Google icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"
        <!-- Konla CSS -->
        <link rel="stylesheet" href="/static/main.css">
        <!-- Bootstrap JavaScript bundle -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
        <!-- Jquery CDN (Google) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Konla JavaScript -->
        <script src="static/main.js"></script>

        <title>Konla</title>
    </head>
    <body>
        <a href="/" style="text-decoration: none;">
            <h1 class="display-3 konla-logo">KONLA</h1>
        </a>

        <div class="container upload-section">
            <h2 class="text-center display-5 upload-title">Upload research paper</h2>
            <p class="text-center lead upload-text">Upload a PDF or a scanned image of a paper</p>
            <div id="upload-area" class="drag-drop-section" ondrop="dropHandler(event);">
                <input id="fileInput" type="file" name="fileInput" style="display: none;">
                <div class="text-center"><span class="material-icons upload-icon">description</span></div>
                <p class="text-center lead" style="color: #9E9E9E;">Drag and drop or <a class="browse-link" href="#">browse</a> your files</p>
            </div>
        </div>
    </body>
</html>
